<div class="fun-facts">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="left-content">
          <h2>Наши решения для вашего <em>перевод докуметов</em></h2>
          <p>Нотариально заверенные переводы паспортов, свидетельств о рождении, браке, разводе, смерти, перемене фамилии, усыновлении/удочерении, об установлении отцовства; справки из учебных учреждений, о прописке, дипломы, вкладыши, аттестаты, сертификаты и другое ……. 
          <br><br>для оформления выезда за границу
          для выезда на ПМЖ
          для учебы
          для работы за рубежом
          для заключения брака.</p>
        </div>
      </div>
      <div class="col-md-6 align-self-center">
        <div class="row">
          <div class="col-md-6">
            <div class="count-area-content">
              <div class="count-digit">100666</div>
              <div class="count-title">Рабочие часы</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="count-area-content">
              <div class="count-digit">1280</div>
              <div class="count-title">Отличные отзывы</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="count-area-content">
              <div class="count-digit">10536</div>
              <div class="count-title">Реализованные проекты</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="count-area-content">
              <div class="count-digit">26</div>
              <div class="count-title">Выигранные награды</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>