<div class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>То, что они говорят <em>о нас</em></h2>
          <span>Отзывы наших лучших клиентов</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owl-testimonials owl-carousel">
          
          <div class="testimonial-item">
            <div class="inner-content">
              <h4>Maria Ionescu</h4>
              <span>Клиент</span>
              <p>"В целом, выбор бюро переводов требует тщательного рассмотрения множества факторов. Ища агентства с опытными переводчиками, отзывчивым обслуживанием клиентов, справедливыми ценами и хорошей репутацией, вы можете быть уверены в своем выборе и гарантировать, что ваши потребности в переводе будут удовлетворены с высококачественными результатами."</p>
            </div>
          </div>
          
          <div class="testimonial-item">
            <div class="inner-content">
              <h4>Elena Marinescu</h4>
              <span>Клиент</span>
              <p>"Наконец, рассмотрел репутацию агентства и послужной список. Ищите агентства, которые имеют подтвержденный опыт предоставления высококачественных переводов довольным клиентам. Чтение онлайн-обзоров и отзывов может помочь вам получить представление о репутации агентства и опыте предыдущих клиентов."</p>
            </div>
          </div>
          
          <div class="testimonial-item">
            <div class="inner-content">
              <h4>Ion Popescu</h4>
              <span>Клиент</span>
              <p>"Ценообразование является еще одним соображением. Хотя стоимость не должна быть единственным фактором при принятии решения, важно найти агентство, которое предлагает справедливые и прозрачные цены. Избегайте агентств, предлагающих необычно низкие цены, так как это может свидетельствовать о низком качестве перевода или непрофессионализме лучше приходите в Interdoc"</p>
            </div>
          </div>
          
          <div class="testimonial-item">
            <div class="inner-content">
              <h4>Alexandru Dumitrescu</h4>
              <span>Клиент</span>
              <p>"Одним из наиболее важных аспектов бюро переводов является качество их переводов. Ищите агентства, в которых работают опытные переводчики, которые являются носителями целевого языка и имеют опыт в предмете переводимого контента и это Interdoc"</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>